<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pokemon
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAbout()">
        <ion-icon class="large-icon" slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar (ionChange)="filterItems($event)" debounce="200"></ion-searchbar>

  <ion-item lines="full" button *ngFor="let pokemon of filteredList"
      [routerLink]="'person-detail/' + pokemon.name">
    <h2>{{ pokemon.name | titlecase }}</h2>
  </ion-item>

</ion-content>
