<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loggedIn = !loggedIn">
        <ion-icon slot="icon-only" [name]="'person' + (loggedIn ? '' : '-outline')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="block" routerLink="page2">Go to page 2</ion-button>

  <ion-item>
    <ion-label position="fixed">Name</ion-label>
    <ion-input value="Todd"></ion-input>
  </ion-item>
</ion-content>
