<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="block" (click)="setBadgeCount(badgeCount+1)">Increment</ion-button>
  <ion-button expand="block" (click)="setBadgeCount(badgeCount-1)">Decrement</ion-button>
  <ion-button expand="block" (click)="setBadgeCount(0)">Mark all read</ion-button>

  <ion-item>
    <ion-label>Action sheet</ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select one">
      <ion-select-option value="">[None]</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
      <ion-select-option value="purple">Purple</ion-select-option>
      <ion-select-option value="yellow">Yellow</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="showChip">
    <ion-chip>
      <ion-label>Button Chip</ion-label>
      <ion-icon name="close-circle" (click)="showChip = !showChip"></ion-icon>
    </ion-chip>
  </ion-item>

</ion-content>
